@font-face {
  font-family: sleepy;
  src: url("assets/font.ttf");
}

body {
    font-family: sleepy, arial;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;

}

#canvas-container {
  position: absolute;
  z-index: -999;
}

#audio-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 999;
}

#text-container {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 999;
}

.heading-1 {
  margin-top: 20px;
}

.main-text {
  opacity: 0;
  font-size: 56px;
  color: white;
  font-weight: 10!important;
  line-height: initial;
}

audio {
  opacity: 10%;
  width: 5%;
}

audio:hover {
  opacity: 40%;
  width: 25%;
}

.fade {
  transition: 0.3s;
}

.hidden {
  opacity: 0;
}

.text-1 {
  animation: fadeintext1 2s;
  animation-fill-mode: forwards; 
}

@keyframes fadeintext1 {
  from {
      opacity:0;
  }
  to {
      opacity:0.4;
  }
}

.text-2 {
  animation: fadeintext2 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fadeintext2 {
  from {
      opacity:0;
  }
  to {
      opacity:0.4;
  }
}

.text-3 {
  animation: fadeintext3 2s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes fadeintext3 {
  from {
      opacity:0;
  }
  to {
      opacity:0.4;
  }
}

.text-4 {
  animation: fadeintext4 2s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

@keyframes fadeintext4 {
  from {
      opacity:0;
  }
  to {
      opacity:0.4;
  }
}

.hide-main-text {
  font-size: 18px;
  animation: hideMainTextButton 2s;
  animation-fill-mode: forwards;
  animation-delay: 8s;
}

.hide-main-text:hover {
  opacity: 0.6;
  cursor: pointer;
}

@keyframes hideMainTextButton {
  from {
      opacity:0;
  }
  to {
      opacity:0.4;
  }
}